<md-dialog aria-label="Configure Alerts">
    <form>
        {% verbatim %}
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Configure Alerts</h2>
                <span flex style="border-style: none;"></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <md-icon class="fa fa-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width:500px;max-height:810px;">
            <form name="raiseTicketForm">
                <md-input-container class="padding-bottom-xs">
                    <label>Zone</label>
                    <textarea row="3" columns="1" ng-model="ctrl.zone" disabled>[[ctrl.zone]]</textarea>
                </md-input-container>
                <md-input-container class="padding-bottom-xs">
                    <label>Phone Numbers</label>
                    <textarea row="3" columns="1" ng-model="ctrl.phones"></textarea>
                </md-input-container>
                <md-input-container>
                    <label>Emails</label>
                    <textarea row="5" columns="1" ng-model="ctrl.emails"></textarea>
                </md-input-container>
                <md-input-container>
                    <label>Zone Close Banner Factor</label>
                    <input type="text" ng-model="ctrl.close_banner_factor"/>
                </md-input-container>
                <md-input-container>
                    <label>Zone Re-open Banner Factor</label>
                    <input type="text" ng-model="ctrl.reopen_banner_factor"/>
                </md-input-container>
            </form>
            <div flex="100" class="text-center">
                <md-button ng-click="ctrl.cancel()">
                    Cancel
                </md-button>
                <md-button class="md-raised md-warn" ng-click="ctrl.updateAlerts();" ng-disabled="!ctrl.zone || (!ctrl.phones && !ctrl.emails) || !ctrl.close_banner_factor || !ctrl.reopen_banner_factor">Update</md-button>
            </div>
        </md-dialog-content>
        {% endverbatim %}
    </form>
</md-dialog>