<md-dialog aria-label="Changes taken">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Changes taken</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
        <!-- <md-content class="md-padding"> -->
            <div flex-sm="100" flex-gt-sm="80" layout-align="center center">
                <form name="changes_taken_dialog_form" method="post">
                    {% csrf_token %}
                      <div layout="row">
                          <md-input-container class="md-block" flex-gt-sm>
                              <label>Remarks</label>
                              <input type="text" name="remarks" ng-model="data.dialog_data.remarks">
                          </md-input-container>
                      </div>
                      <md-button class="md-raised pull-right" style="width:30%;" type="reset" ng-click="cancel()">
                        Cancel
                      </md-button> 
                      <md-button ng-disabled="changes_taken_dialog_form.$invalid" class="md-raised pull-right" style="width:30%;" type="submit" ng-click="save()">Save</md-button>                          
                </form>
            </div>
        <!-- </md-content> -->
    </md-dialog-content>
</md-dialog>