<md-dialog aria-label="Pose Cutting">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Pose Cutting</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
        <md-content class="md-padding">
            <div flex-sm="100" flex-gt-sm="80" layout-align="center center">
                <form name="pose_cutting_dialog_form" method="post">
                    {% csrf_token %}
                      <div layout="row">
                          <md-input-container class="md-block" flex-gt-sm>
                              <label>Number of poses</label>
                              <input name="number_of_poses" ng-model="data.dialog_data.number_of_poses"
                                     required ng-pattern="/^[0-9]+$/">
                              <div ng-messages="pose_cutting_dialog_form.number_of_poses.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">This is required.</div>
                                <div ng-message="pattern" class="my-message">That doesn't look like a valid count
                                </div>
                              </div>
                          </md-input-container>
                      </div>
                      <md-button class="md-raised md-warn pull-right" style="width:30%;" type="reset" ng-click="cancel()">
                        Cancel
                      </md-button> 
                      <md-button ng-disabled="pose_cutting_dialog_form.$invalid" class="md-raised md-warn pull-right" style="width:30%;" type="submit" ng-click="save()">Save</md-button>                          
                </form>
            </div>
        </md-content>
    </md-dialog-content>
</md-dialog>