<md-dialog aria-label="Pose Selection">
    <form>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Pose Selection</h2>
          </div>
        </md-toolbar>
        <md-dialog-content>
            Confirm status change?
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <md-button class="md-raised pull-right" ng-click="save()" >
                Ok
            </md-button>
            <md-button class="md-raised pull-right" ng-click="cancel()">
                Cancel
            </md-button>
        </div>
    </form>
</md-dialog>